<div class="landing">

  <div class="title">
    <div class="left">
      <div class="top">
        <p>Welcome to</p>
      </div>
      <div class="bottom">
        <p>HOWLR</p>
      </div>
    </div>
    <div class="right">
      <%= image_tag('wolf.png') %>
    </div>
  </div>

  <% if !@current_user.present? %>
    <div class="navbar">
      <%= button_to 'Sign up!', signup_path, method: :get, :class => 'button button-2 sign-up' %>
      <%= button_to 'Log in', login_path, method: :get, :class => 'button button-2 log-in' %>
    </div>
  <% else %>
    <div class="navbar">

      <a class="button button-3 user-search">
        <p>Manage contacts</p>
      </a>

      <a class="button button-3 messages">
        <p>Messages</p>
      </a>

      <%= button_to 'Log out', login_path, method: :delete, :class => 'button button-3 log-out' %>

    </div>
  <% end %>
</div>
