<div class="landing">

  <div class="title">
    <div class="left">
      <div class="top">
        <p>Welcome to</p>
      </div>
      <div class="bottom">
        <p>HOWLR</p>
      </div>
    </div>
    <div class="right">
      <%= image_tag 'wolf.png', :class => 'landing-image' %>
    </div>
  </div>

  <%= render 'navbar' %>

</div>
