<div class="messages-page">
  <%= render 'banner' %>
  <%= render 'navbar' %>

  <div class="messages-content">
    <div class="contacts"></div>
    <div class="messages-box">
      <div class="messages-show"></div>

      <div class="message-input">
          <%= text_area_tag 'new-message', '', {placeholder: 'Enter message here', disabled: 'disabled'} %>
          <%= button_tag "Howl at the Mooooon", :class => 'send-message', :disabled => true %>
        <% #<div class="message-buttons"> %>
          <% #<div class="message-button send-message"> %>
            <% #<p>Send Message</p> %>
          <% #</div> %>
          <% #</div> %>
      </div>
    </div>

  </div>
</div>
