<div class="messages-page">
  <%= render 'banner' %>
  <%= render 'navbar' %>

  <div class="messages-content">
    <div class="contacts"></div>
    <div class="message-display">


      <div class="message-input">
        <div class="input-box"></div>
        <div class="message-buttons"></div>
      </div>
    </div>

  </div>
</div>
