<div class="messages-page">
  <%= render 'banner' %>
  <%= render 'navbar' %>

  <div class="messages-content">
    <div class="contacts"></div>
    <div class="message-display">
    </div>

  </div>
</div>
