.messages-content {
  background: #beeeef;
  height: 300px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 4px 4px 4px;
  position: relative;
  padding: 5px;
}

.contacts {
  display: inline-block;
  height: 100%;
  width: 30%;
  background: red;
  overflow: scroll;
}

.chat-head {
  height: 60px;
  margin-bottom: 5px;
  width: 100%;
  background: blue;
  border-radius: 5px 0 0 5px;
}

.chat-head:hover {
  cursor: pointer;
}

.chat-inner {
  margin: 0;
}

.chat-img {
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  height: 50px;
  width: 50px;
  margin: 5px;
}

.chat-name {
  display: inline-block;
  font-size: 1.5em;
  margin-top: 16px;
  vertical-align: top;
}


.messages-box {
  display: inline-block;
  width: 69%;
  height: 100%;
  background: green;
  vertical-align: top;
}

.messages-show {
  width: 100%;
  background: rebeccapurple;
  height: 75%;
}

.message-input {
  background: gainsboro;
  height: 25%;
}

.input-box {
  background: salmon;
  width: 75%;
  height: 100%;
  display: inline-block;
}

.message-buttons {
  vertical-align: top;
  display: inline-block;
  height: 100%;
  width: 24%;
  background: pink;
}

.message-button {
  display: inline-block;
  height: 50%;
  width: 100%;
  background: yellow;
}

.message-button p {
  margin: 0 auto;
}

msg-incoming, msg-outgoing {
  margin: 5px 5px 0 5px;
  background: orange;
  font-size: 1.5em;
  
}
