.messages-content {
  background: #beeeef;
  height: 300px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 4px 4px 4px;
  position: relative;
  padding: 5px 0 5px 5px;
}

.contacts {
  display: inline-block;
  height: 100%;
  width: 30%;
  overflow-y: scroll;
  overflow-x: auto;
}

.chat-head {
  position: relative;
  height: 60px;
  margin-bottom: 5px;
  width: 100%;
  border-radius: 5px 0 0 5px;
  background: #1f797a;
}

.chat-head:hover {
  cursor: pointer;
}

.chat-inner {
  margin: 0;
}

.chat-img {
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  height: 50px;
  width: 50px;
  margin: 5px;
}

.chat-name {
  display: inline-block;
  font-size: 1.5em;
  margin-top: 16px;
  vertical-align: top;
}


.messages-box {
  display: inline-block;
  width: 69%;
  height: 100%;
  /*background: green;*/
  vertical-align: top;
}

.messages-show {
  width: 100%;
  background: #33c9cc;
  height: 75%;
  overflow: scroll;
  margin-bottom: 5px;
  border-radius: 0 5px 5px 0;
}

.message-input {
  position: relative;
  height: 25%;
  width: 100%;
}

#new-message {
  position: absolute;
  display: inline-block;
  left: 0;
  width: 74%;
  height: 95%;
}

.send-message {
  position: absolute;
  padding: 0;
  border: 0;
  top: 0;
  right: 0;
  height: 98%;
  width: 24%;
  border-radius: 5px;
}

.send-message:hover {
  cursor: pointer;
}

.msg-incoming, .msg-outgoing {
  margin-bottom: 5px;
  background: orange;
  font-size: 1.5em;
  border-radius: 5px;
  max-width: 80%;
}

.msg-incoming {
  float: left;
  width: 65%;
  margin-left: 5px;
}

.msg-outgoing {
  float: right;
  margin-right: 5px;
  width: 65%;
}

.msg-text {
  margin: .5em;
}
