@import url(https://fonts.googleapis.com/css?family=Lobster);

.title {
  margin-top: 4em;
  background: #BEEEEF;
  width: 100%;
  height: 300px;
  display: block;
  box-shadow: 4px 4px 4px 0;
  border-radius: 5px;
}

.title .left {
  font-family: Lobster;
  vertical-align: top;
  display: inline-block;
  width: 70%;
  height: 297px;
}

.title .left .top {
  font-size: 2em;
}

.title .left .bottom {
  text-align: center;
  font-size: 12em;
}

.title .right {
  vertical-align: top;
  display: inline-block;
  width: 29%;
  height: 297px;
}

.title .right .landing-image {
  height: 297px;
}

.title .left * p {
  margin: 0;
}

.title .left .top p {
  margin: 5px 0 0 15px;
}

.banner {
  margin: 0 auto;
  background: #beeeef;
  display: block;
  margin-top: 2em;
  box-shadow: 4px 4px 4px 0;
  border-radius: 5px;
}

.banner .left {
  width: 755px;
  font-family: lobster;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  font-size: 6em;
}

.banner .left p {
  margin: 0;
}

.banner .right {
  display: inline-block;
}

.banner .right .banner-image {
  height: 120px;
}

@media (max-width: 960px) {
  .title {
    margin: 0;
    border-radius: 0;
    height: 130px;
  }
  .title .left .top {
    display: none;
  }

  .title .left {
    width: 100%;
    font-size: .5em;
  }

  .title .right {
    display: none;
  }

  .banner {
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .banner .right {
    display: none;
  }
  .banner .left {
    width: 100%;
  }
}
